<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ questionTitle }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- {{ questionText }} -->
      <span [innerHTML]="formattedQuestionText()"></span>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header>
      回答一覧
    </ion-list-header>
    <ion-item *ngFor="let answer of answers">
      <ion-label>
        <h2>{{ answer["answer_user"] }}</h2>
        <p>{{ answer["answer_text"] }}</p>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="noneAnswer">
      <ion-label>
        <p>回答はまだありません．．．</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
