<div class="map-container" *ngIf="isDisplay">
  <google-map 
    height="500px"
    width="350px"
    [center]="center"
    [zoom]="zoom"
    [options]="options"
  >
    <map-marker
      *ngIf="center"
      [position]="center"
      [options]="currentPositionMarkerOption"
    >
    </map-marker>
    <ng-container *ngFor="let nearItem of nearItems; let i = index;">
      <map-marker
        #marker="mapMarker"
        [position]="nearItem"
        [options]="nearItemPositionsMarkerOption"
        (mapClick)="openInfoWindow(marker)"
      ></map-marker>
      <map-info-window>
        <ng-container *ngFor="let key of nearItemsDataKeys">
          <ng-container *ngIf="nearItemsIsAbstractData[i][key]">
            <div>{{ key }}: {{ nearItemsDataValues[i][key] }}</div><br>
          </ng-container>
        </ng-container>
        <ion-button>詳細を見る</ion-button>
      </map-info-window>
    </ng-container>
  </google-map>
</div>
