<div class="map-container" *ngIf="isDisplay">
  <google-map class="custom-google-map"
    height="500px"
    width="350px"
    [center]="center"
    [zoom]="zoom"
    [options]="options"
  >
    <map-marker
      *ngIf="center"
      [position]="center"
      [options]="currentPositionMarkerOption"
    >
    </map-marker>
    <ng-container *ngFor="let nearItem of nearItems; let i = index;">
      <map-marker
        #marker="mapMarker"
        [position]="nearItem"
        [options]="nearItemPositionsMarkerOption"
        (mapClick)="openInfoWindow(marker)"
      ></map-marker>
      <map-info-window class="custom-info-window">
        <ng-container *ngFor="let key of nearItemsDataKeys">
          <ng-container *ngIf="nearItemsIsAbstractData[i][key]">
            <div class="info-window-content">{{ key }}: {{ nearItemsDataValues[i][key] }}</div><br>
          </ng-container>
        </ng-container>
        <a href="https://www.google.com/maps/search/?api=1&query={{nearItem.lat}},{{nearItem.lng}}" target="_blank">Google Mapsで見る</a>
        <ion-button class="detail-button" expand="full">詳細を見る</ion-button>
      </map-info-window>
    </ng-container>
  </google-map>
</div>
