@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
  }

.all-center{
    // display: grid;
    // place-content: center;
    // place-items: center;
    // margin: auto;
    width: 100%;
    height: 100%;
}

.img-logo{
    position: absolute;
    top: 70px;
    left: 90px;
    height: 200px;
    width: 200px;
}

.registration-box{
    // margin-top: -100px;
    // min-height: 100px;
    // width: 95vw;
    // max-width: 500px;
    // border-radius: 10px 0 0 10px;
    // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    // display: grid;
    // margin: 350px 0 auto auto;
    opacity: 0;
    animation: slideInFromRight 0.3s ease-in forwards;
    animation-delay: 2.5s !important;
}
h1{
    text-align: center;
}
h3{
    // margin: 0;
    padding: 0;
    text-align: center;
    font-size: 18px;
}

.inputs{
    width: 90%;
    margin: 0 auto;
    // margin-top: 10px;
    .textbox-003-label,
    .textbox-003 {
        color: #333;
        font-family: 'Cormorant Garamond', serif;
    }

    .textbox-003-label {
        display: block;
        // margin-bottom: 5px;
        font-size: .9em;
    }

    .textbox-003 {
        width: 100%;
        // padding: 8px 10px;
        border: none;
        border-radius: 3px;
        background: #eff1f5;
        font-size: 1em;
        line-height: 1.5;
    }

    .textbox-003::placeholder {
        color: #999;
    }
}
ion-button{
    width: 100%;
    margin: 0 auto;
    // margin-top: 1vh;
}
p{
    text-align: center;
}
  
.script-logo{
    position: absolute;
    left: 95px;
    top: 283px;
    height: 48px;
    width: 200px;
    z-index: 2;
}

.registration-box {
  margin-top: 850%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .inputs {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 15px;
    }

    .age-group-buttons {
      display: flex;
      justify-content: center;
      margin-bottom: 15px;

      ion-button {
        margin: 0 5px;
      }
    }
  }
}

.textbox-003 {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
}
